.DS_Store
*.gz
*.out
*.log
*.blg
*.bbl
*.aux
Figures/*
Results/*
!Figures/HANKWageRigidities
Figures/HANKWageRigidities/*
!Figures/HANKWageRigidities/.gitkeep
!Figures/HANKWageRigidities/DSS
Figures/HANKWageRigidities/DSS/*
!Figures/HANKWageRigidities/DSS/.gitkeep
!Figures/RANKWageRigidities
Figures/RANKWageRigidities/*
!Figures/RANKWageRigidities/.gitkeep
!Results/HANKWageRigidities
Results/HANKWageRigidities/*
!Results/HANKWageRigidities/.gitkeep
!Results/HANKWageRigidities/Results
Results/HANKWageRigidities/Results/*
!Results/HANKWageRigidities/Results/.gitkeep
!Results/RANKWageRigidities
Results/RANKWageRigidities/*
!Results/RANKWageRigidities/.gitkeep
